name: Auto-close completed issues

on:
  issues:
    types: [labeled]

jobs:
  auto-close-completed:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'completed'
    steps:
      - name: Close issue
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed'
            })